<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body><h1>Assignment6</h1>
  <div class="bodycenter">

    <!-- <form action="add_to_db" method="post">
      <p>Movies Database!.</p>
      <br>
    </form> -->

  <p>Saahil's Movie Database!</p>

    <form action="insert" method="post">
      <p>Insert a movie into the database.</p>
      <br>
      Input a year: <input type="text" name="year"><br>
      Input a title: <input type="text" name="title"><br>
      Input a director: <input type="text" name="director"><br>
      Input a actor: <input type="text" name="actor"><br>
      Input a release date: <input type="text" name="release"><br>
      Input a rating: <input type="text" name="rating"><br>
      <input type="submit" value="Add movie to database">
    </form>

    <form action="update" method="post">
      <p>Update a movie in the database.</p>
      <br>
      Input a year: <input type="text" name="year"><br>
      Input a title: <input type="text" name="title"><br>
      Input a director: <input type="text" name="director"><br>
      Input a actor: <input type="text" name="actor"><br>
      Input a release date: <input type="text" name="release"><br>
      Input a rating: <input type="text" name="rating"><br>
      <input type="submit" value="Update movie in database">
    </form>

    <form action="delete_movie" method="post">
      <p>Delete movie given title.</p>
      <br>
      Input a title: <input type="text" name="title"><br>
      <input type="submit" value="Delete movie from database">
    </form>

    <form action="search_movies" method="post">
      <p>Search movies given actor.</p>
      <br>
      Input a actor: <input type="text" name="actor"><br>
      <input type="submit" value="Find movies in database">
    </form>

    <form action="print_stats_max" method="get">
      <p>Print highest movie stats.</p>
      <br>
      <input type="submit" value="Find highest-rated movies in database">
    </form>

    <form action="print_stats_min" method="get">
      <p>Print lowest movie stats.</p>
      <br>
      <input type="submit" value="Find lowest-rated movies in database">
    </form>


    <div class="footer">
          {% if messages %}
                <p>Message:</p>
                <p>{{ messages }}</p>
          {% endif %}
          {% if entries %}
             <div align="center">
               <table border=".5">
               <tr>
                  <th>Year</th>
                     <th>Title</th>
                     <th>Actor</th>
                     <th>Director</th>
                     <th>Release Date</th>
                     <th>Rating</th>
               </tr>
                  {% for row in entries %}
                        <tr>
                           <td>{{ row[0] }}</td>
                           <td>{{ row[1] }}</td>
                           <td>{{ row[2] }}</td>
                           <td>{{ row[3] }}</td>
                           <td>{{ row[4] }}</td>
                           <td>{{ row[5] }}</td>
                        </tr>
                  {% endfor %}
                  </table>
              </div>
          {% endif %}

          {% if entries2 %}
             <div align="center">
               <table border=".5">
               <tr>
                  <th>Year</th>
                     <th>Title</th>
                     <th>Actor</th>
                     <th>Director</th>
                     <th>Rating</th>
               </tr>
                  {% for row in entries2 %}
                        <tr>
                           <td>{{ row[0] }}</td>
                           <td>{{ row[1] }}</td>
                           <td>{{ row[2] }}</td>
                           <td>{{ row[3] }}</td>
                           <td>{{ row[4] }}</td>
                        </tr>
                  {% endfor %}
                  </table>
              </div>
          {% endif %}
      </div>
      
    <div class="footer">
    </div>
  </div>
</body>
</html>
